<div class="row">
    <div class="col-6">
       <app-dona [data]="data1" [labels]="labels1" [title]="'Sales'"></app-dona>
    </div>    
    <div class="col-6">
      <app-dona [data]="data2" [labels]="labels2" [title]="'Debts'"></app-dona>
     </div>    
</div>
<div class="row">
    <div class="col-6">
      <app-dona [data]="data3" [labels]="labels3" [title]="'Providers'"></app-dona>
    </div>    
    <div class="col-6">
      <app-dona [data]="data4" [labels]="labels4" [title]="'Salary'"></app-dona>
     </div>    
</div>
